importFrom(RColorBrewer, brewer.pal.info)
importFrom(RColorBrewer, brewer.pal)
import(ggplot2)
import(sf)
import(cowplot)
import(viridis, viridis)
import(whomapper)

export(plot_world)
export(plot_world_data)
export(plot_world_imputation)
export(plot_world_sub1)
export(plot_world_sub2)
export(plot_data)
export(add_pop)
export(mean_ci)
export(mean_median_ci)
export(plot_world_who)
export(plot_world_who_zoom)
export(draw_border)
export(plot_area)
export(plot_country)